@tailwind base;
@tailwind components;
@tailwind utilities;

.logo-hor {
    height: 90px;
    margin-top: 10px;
    min-width: 400px;
}

.header-main-menu {
    margin-top: 40px;
}

.header-main-profile {
    margin-top: 40px;
}

.header-main-layout {
    background: #04143A !important;
    height: 120px !important;
    padding: 10px 30px !important;
    font-family: 'Poppins', sans-serif !important;
}

.header-main-layout a {
    font-size: 17px;
}

.header-main-layout .header-menu a:hover {
    color: white;
}

html {
    scroll-behavior: smooth;
}

.about {
    height: 100% !important;
}

/* for mini images */
.thumbnail-container {
    display: flex;
    flex-wrap: wrap;
}
.thumbnail {
    width: 100px;
    margin: 5px;
}
.thumbnail img {
    width: 100%;
    height: auto;
}

.h-16 {
    height: 5rem;
}

#top_section {
    height: 80vh !important;
}

@font-face {
    font-family: 'Helvetica Light';
    src: url('/public/gu_fonts/HelveticaNowDisplay-Light.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Black';
    src: url('/public/gu_fonts/HelveticaNowDisplay-Black.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica BlackIta';
    src: url('/public/gu_fonts/HelveticaNowDisplay-BlackIta.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Bold';
    src: url('/public/gu_fonts/HelveticaNowDisplay-Bold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica ExtBdIta';
    src: url('/public/gu_fonts/HelveticaNowDisplay-ExtBdIta.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica ExtBlk';
    src: url('/public/gu_fonts/HelveticaNowDisplay-ExtBlk.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica ExtLt';
    src: url('/public/gu_fonts/HelveticaNowDisplay-ExtLt.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Medium';
    src: url('/public/gu_fonts/HelveticaNowDisplay-Medium.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Regular';
    src: url('/public/gu_fonts/HelveticaNowDisplay-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
