@tailwind base;
@tailwind components;
@tailwind utilities;

.map {
    height: 92vh;
    z-index: 0;
}

.marker-form {
    background: lightgrey;
    height: 73vh;
    overflow: auto;
    max-height: 700px;
}

.logo-hor {
    height: 90px;
}

.header-main-menu {
    margin-top: 40px;
}

.header-main-profile {
    margin-top: 40px;
}

.info-marker {
    background: white;
}

.info-marker table {
    border-collapse: collapse;
    width: 100%;
}

.info-marker caption {
    caption-side: top;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

.header-main-layout {
    background: #04143A !important;
    height: 120px !important;
    padding: 10px 30px !important;
    font-family: 'Poppins', sans-serif !important;
}

.header-main-layout a {
    font-size: 17px;
}

.header-main-layout .header-menu a:hover {
    color: white;
}

html {
    scroll-behavior: smooth;
}

.about {
    height: 100% !important;
}

/* for mini images */
.thumbnail-container {
    display: flex;
    flex-wrap: wrap;
}
.thumbnail {
    width: 100px;
    margin: 5px;
}
.thumbnail img {
    width: 100%;
    height: auto;
}

.h-16 {
    height: 5rem;
}

